# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Local Database
queries/analytics.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars